In [2]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')

In [3]:
user_name=os.environ.get('DB_USER')
password=os.environ.get('DB_PASS')

In [4]:
connection=mysql.connector.connect(host = 'localhost',
                                  user = 'root',
                                  passwd= 'password',
                                  db= 'Hospital_db')

In [5]:
connection

In [6]:
connection.is_connected()

True

In [7]:
hospital_db=pd.read_sql_query('SHOW TABLES FROM Hospital_db',connection)

In [8]:
hospital_db

  Tables_in_Hospital_db
0                 Claim
1           Final_Table
2                Groups
3              Hospital
4               Insurer
5               Patient
6              Subgroup

In [9]:
tables=hospital_db['Tables_in_Hospital_db']

In [10]:
tables

0          Claim
1    Final_Table
2         Groups
3       Hospital
4        Insurer
5        Patient
6       Subgroup
Name: Tables_in_Hospital_db, dtype: object

In [11]:
for table_name in tables:
    output=pd.read_sql_query('DESCRIBE {}'.format(table_name),connection)
    print(table_name)
    print(output, '\n')

Claim
                Field         Type Null  Key Default Extra
0          Patient_ID       int(6)  YES  MUL    None
1        Insurance_ID       int(6)  YES  MUL    None
2            Claim_ID       int(6)   NO  PRI    None
3            Group_ID       int(6)  YES  MUL    None
4          Claim_Type  varchar(15)  YES         None
5          Issue_Date         date  YES         None
6       Risk_Category  varchar(30)  YES         None
7   Premium_plan_type  varchar(30)  YES         None
8        Claim_amount      int(11)  YES         None
9       Handling_type  varchar(30)  YES         None
10         Settlement  varchar(30)  YES         None
11       Claim_Status  varchar(30)  YES         None
12  Submission_method  varchar(30)  YES         None
13            Country  varchar(30)  YES         None

Final_Table
                  Field         Type Null Key Default Extra
0          Patient_name  varchar(30)  YES        None
1       Patient_address  varchar(50)  YES        None
2              Claim_ID       int(6)  YES        None
3         Handling_risk  varchar(60)  YES        None
4  Claim_status_details  varchar(30)  YES        None
5      Claim_issue_date         date  YES        None
6          Insurer_term       int(2)  YES        None
7           Patient_age       int(2)  YES        None
8         Group_Details  varchar(30)  YES        None
9      Insurance_amount       int(7)  YES        None

Groups
            Field         Type Null  Key Default Extra
0        Group_ID       int(6)   NO  PRI    None
1      Group_name  varchar(30)  YES         None
2  Effective_date         date  YES         None
3            Term       int(3)  YES         None

Hospital
               Field         Type Null  Key Default Extra
0        Hospital_ID       int(6)   NO  PRI    None
1      Hospital_name  varchar(30)  YES         None
2      Hospital_city  varchar(30)  YES         None
3       Insurance_ID       int(6)  YES  MUL    None
4  Insurance_company  varchar(30)  YES         None

Insurer
                    Field         Type Null  Key Default Extra
0            Insurance_ID       int(6)   NO  PRI    None
1            Company_name  varchar(30)  YES         None
2          Insurance_name  varchar(30)  YES         None
3              Start_date         date  YES         None
4                End_date         date  YES         None
5          Effective_date         date  YES         None
6   Insurance_base_amount       int(8)  YES         None
7        Insurance_status  varchar(30)  YES         None
8                    Term       int(3)  YES         None
9            Topup_Amount       int(8)  YES         None
10         Insurnce_Cover       int(3)  YES         None

Patient
             Field         Type Null  Key Default Extra
0       Patient_ID       int(6)   NO  PRI    None
1     Insurance_ID       int(6)  YES  MUL    None
2       First_name  varchar(30)  YES         None
3        Last_name  varchar(30)  YES         None
4           Gender   varchar(5)  YES         None
5              DOB         date  YES         None
6            Phone   bigint(20)  YES         None
7      Nationality  varchar(30)  YES         None
8      Hospital_ID       int(6)  YES  MUL    None
9   Insurance_type  varchar(30)  YES         None
10         Address  varchar(50)  YES         None
11         Country  varchar(30)  YES         None

Subgroup
            Field         Type Null  Key Default Extra
0     Subgroup_ID       int(6)   NO  PRI    None
1        Group_ID       int(6)  YES  MUL    None
2   Subgroup_name  varchar(30)  YES         None
3  Effective_date         date  YES         None
4            Term       int(3)  YES         None

In [12]:
patient_df=pd.read_sql_query("SELECT * FROM Patient",connection)
patient_df

,Patient_ID,Insurance_ID,First_name,Last_name,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Country
0,45098,1003,Akriti,Singh,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64,India\r
1,45099,1003,Pritam,Bannerjee,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87,India\r
2,45100,1003,Salim,Khan,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34,India\r
3,45101,1003,Yasoof,Akhtar,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01,India\r
4,45102,1003,Wahida,Begum,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04,India\r
...,...,...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,Kelly,Griffin,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA,USA\r
146,56047,1001,Megan,Ford,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO,USA\r
147,56048,1001,Roger,Marshall,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON,USA\r
148,56049,1001,Janice,Wells,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA,USA\r
149,56050,1001,Jordan,Holmes,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON,USA\r

In [13]:
patient_df["Country"]=patient_df['Country'].str.replace(r"\r","")
patient_df

,Patient_ID,Insurance_ID,First_name,Last_name,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Country
0,45098,1003,Akriti,Singh,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64,India
1,45099,1003,Pritam,Bannerjee,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87,India
2,45100,1003,Salim,Khan,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34,India
3,45101,1003,Yasoof,Akhtar,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01,India
4,45102,1003,Wahida,Begum,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04,India
...,...,...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,Kelly,Griffin,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA,USA
146,56047,1001,Megan,Ford,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO,USA
147,56048,1001,Roger,Marshall,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON,USA
148,56049,1001,Janice,Wells,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA,USA
149,56050,1001,Jordan,Holmes,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON,USA

In [14]:
cursor=connection.cursor

In [15]:
patient_df["Name"]=patient_df["First_name"]+" "+patient_df["Last_name"]
patient_df

,Patient_ID,Insurance_ID,First_name,Last_name,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Country,Name
0,45098,1003,Akriti,Singh,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64,India,Akriti Singh
1,45099,1003,Pritam,Bannerjee,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87,India,Pritam Bannerjee
2,45100,1003,Salim,Khan,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34,India,Salim Khan
3,45101,1003,Yasoof,Akhtar,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01,India,Yasoof Akhtar
4,45102,1003,Wahida,Begum,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04,India,Wahida Begum
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,Kelly,Griffin,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA,USA,Kelly Griffin
146,56047,1001,Megan,Ford,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO,USA,Megan Ford
147,56048,1001,Roger,Marshall,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON,USA,Roger Marshall
148,56049,1001,Janice,Wells,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA,USA,Janice Wells
149,56050,1001,Jordan,Holmes,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON,USA,Jordan Holmes

In [16]:
patient_df=patient_df.drop('First_name',axis=1)
patient_df=patient_df.drop('Last_name',axis=1)
patient_df

,Patient_ID,Insurance_ID,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Country,Name
0,45098,1003,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64,India,Akriti Singh
1,45099,1003,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87,India,Pritam Bannerjee
2,45100,1003,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34,India,Salim Khan
3,45101,1003,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01,India,Yasoof Akhtar
4,45102,1003,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04,India,Wahida Begum
...,...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA,USA,Kelly Griffin
146,56047,1001,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO,USA,Megan Ford
147,56048,1001,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON,USA,Roger Marshall
148,56049,1001,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA,USA,Janice Wells
149,56050,1001,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON,USA,Jordan Holmes

In [17]:
patient_df["Address"]=patient_df["Address"]+" "+patient_df["Country"]
patient_df=patient_df.drop('Country',axis=1)
patient_df

,Patient_ID,Insurance_ID,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Name
0,45098,1003,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64 India,Akriti Singh
1,45099,1003,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87 India,Pritam Bannerjee
2,45100,1003,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34 India,Salim Khan
3,45101,1003,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01 India,Yasoof Akhtar
4,45102,1003,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04 India,Wahida Begum
...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA USA,Kelly Griffin
146,56047,1001,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO USA,Megan Ford
147,56048,1001,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON USA,Roger Marshall
148,56049,1001,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA USA,Janice Wells
149,56050,1001,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON USA,Jordan Holmes

In [18]:
patient_df["DOB"]=pd.to_datetime(patient_df["DOB"])
patient_df

,Patient_ID,Insurance_ID,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Name
0,45098,1003,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64 India,Akriti Singh
1,45099,1003,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87 India,Pritam Bannerjee
2,45100,1003,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34 India,Salim Khan
3,45101,1003,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01 India,Yasoof Akhtar
4,45102,1003,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04 India,Wahida Begum
...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA USA,Kelly Griffin
146,56047,1001,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO USA,Megan Ford
147,56048,1001,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON USA,Roger Marshall
148,56049,1001,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA USA,Janice Wells
149,56050,1001,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON USA,Jordan Holmes

In [19]:
from datetime import date

In [20]:
today=date.today()
patient_df["Age"]=pd.DataFrame({'Age':today.year-patient_df["DOB"].dt.year})
patient_df

,Patient_ID,Insurance_ID,Gender,DOB,Phone,Nationality,Hospital_ID,Insurance_type,Address,Name,Age
0,45098,1003,F,2002-05-09,8908908398,Indian,90001,Longterm,23- asp road kolkata 64 India,Akriti Singh,20
1,45099,1003,M,2001-02-02,9087988092,Indian,90003,Short term,12- sp Mukherjee road kolkata 87 India,Pritam Bannerjee,21
2,45100,1003,M,2001-06-09,9900887766,Indian,90005,Long term,34- roy road howrah 34 India,Salim Khan,21
3,45101,1003,M,2000-08-07,9988455767,Indian,90002,Long term,34 chellam road Chennai 01 India,Yasoof Akhtar,22
4,45102,1003,F,2003-07-08,9090123467,Indian,90003,Short term,46 bb roy road karnataka 04 India,Wahida Begum,19
...,...,...,...,...,...,...,...,...,...,...,...
145,56046,1001,F,1999-11-16,6199202675,American,70002,Long Term,4063 ROSEWOOD LANE GEORGIA USA,Kelly Griffin,23
146,56047,1001,F,1992-10-23,9257669394,American,70003,Short Term,952 STILL STREET OHIO USA,Megan Ford,30
147,56048,1001,M,1984-03-21,4436766439,American,70004,Long Term,1861 BUENA VISTA AVENUE OREGON USA,Roger Marshall,38
148,56049,1001,M,1992-04-05,5103345478,American,70005,Long Term,242 YORKIE LANE CALIFORNIA USA,Janice Wells,30
149,56050,1001,M,1988-05-26,6478894305,American,70002,Short Term,132 MUDLICK ROAD WASHINGTON USA,Jordan Holmes,34

In [21]:
patient_df.to_csv('Patient_Transformed.csv')

In [23]:
claim_df=pd.read_sql_query("SELECT * FROM Claim",connection)
claim_df

,Patient_ID,Insurance_ID,Claim_ID,Group_ID,Claim_Type,Issue_Date,Risk_Category,Premium_plan_type,Claim_amount,Handling_type,Settlement,Claim_Status,Submission_method,Country
0,45104,1003,4007,76895,Cashless,2021-12-12,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,India\r
1,45106,1003,4009,76894,Reimbursement,2022-05-09,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,India\r
2,45111,1003,4014,76893,Cashless,2022-01-03,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,India\r
3,45113,1003,4016,76895,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,India\r
4,45117,1003,4020,76891,Reimbursement,2021-11-04,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,India\r
5,45121,1003,4024,76892,Cashless,2022-04-30,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,India\r
6,45123,1003,4026,76891,Cashless,2022-05-18,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,India\r
7,45127,1003,4030,76894,Cashless,2022-04-21,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,India\r
8,45128,1003,4031,76892,Reimbursement,2022-05-14,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,India\r
9,45134,1003,4037,76891,Reimbursement,2022-04-07,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,India\r
10,45135,1003,4038,76892,Reimbursement,2022-04-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,India\r
11,45139,1003,4042,76891,Cashless,None,Low,Semi-annualy,45000,Standard,In Process,ACTIVE,Mail,India\r
12,45142,1003,4045,76895,Cashless,2022-03-31,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,India\r
13,45145,1003,4048,76894,Cashless,2022-05-08,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,India\r
14,45147,1003,4050,76893,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,India\r
15,45148,1002,4051,76891,Cashless,2021-12-31,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,Germany\r
16,45150,1002,4053,76891,Cashless,2021-05-22,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,Germany\r
17,45152,1002,4055,76891,Reimbursement,2022-02-02,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,Germany\r
18,45156,1002,4059,76892,Cashless,2021-09-16,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,Germany\r
19,45104,1003,4060,76891,Reimbursement,2022-01-14,Low,Monthly,25000,Complex,In Process,ACTIVE,Mail,India\r
20,45158,1002,4061,76893,Reimbursement,2022-01-21,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,Germany\r
21,45163,1002,4066,76894,Reimbursement,2021-12-08,Medium,Monthly,28000,Express,Invalid,INVALID,Mail,Germany\r
22,45111,1003,4069,76892,Cashless,2022-03-03,Low,Quaterly,40000,Complex,Settled,ACTIVE,Internet,India\r
23,45167,1002,4070,76891,Cashless,2022-03-01,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,Germany\r
24,45169,1002,4072,76891,Cashless,2021-12-11,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,Germany\r
25,45117,1003,4073,76893,Reimbursement,2022-01-23,High,Semi-annualy,30000,Standard,Settled,RECOVERED,Call,India\r
26,45123,1003,4074,76894,Reimbursement,2022-01-15,Low,Monthly,37000,Accelerated,In Process,ACTIVE,Mail,India\r
27,45174,1002,4077,76892,Cashless,2022-01-02,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,Germany\r
28,45177,1002,4080,76895,Reimbursement,2022-01-01,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,Germany\r
29,45135,1003,4081,76894,Reimbursement,2022-11-02,High,Semi-annualy,25500,Express,Invalid,ACTIVE,Call,India\r
30,45183,1002,4086,76895,Cashless,2022-01-22,High,Semi-annualy,45000,Accelerated,Settled,RECOVERED,Mail,Germany\r
31,45186,1002,4089,76895,Reimbursement,2022-01-02,Low,Monthly,37000,Express,Settled,RECOVERED,Internet,Germany\r
32,45128,1003,4090,76891,Cashless,2022-07-03,High,Quaterly,27000,Express,Invalid,INVALID,Internet,India\r
33,45193,1002,4096,76894,Cashless,2021-03-11,Medium,Quaterly,34000,Standard,Invalid,INVALID,Call,Germany\r
34,45195,1002,4098,76893,Reimbursement,2022-06-05,High,Semi-annualy,43000,Accelerated,Process,ACTIVE,Call,Germany\r
35,45197,1002,4100,76892,Cashless,2022-12-05,High,Semi-annualy,23000,Standard,Process,ACTIVE,Mail,Germany\r
36,45150,1002,4101,76891,Cashless,2021-09-08,Low,Monthly,36000,Standard,Settled,RECOVERED,Internet,Germany\r
37,45152,1002,4103,76891,Reimbursement,2022-05-04,Low,Quaterly,29100,Standard,Settled,RECOVERED,Mail,Germany\r
38,45156,1002,4105,76892,Cashless,2021-03-09,High,Semi-annualy,47500,Accelerated,In Process,ACTIVE,Call,Germany\r
39,45158,1002,4107,76893,Reimbursement,2021-09-29,High,Quaterly,34000,Accelerated,In Process,ACTIVE,Call,Germany\r
40,45163,1002,4109,76894,Reimbursement,2022-02-02,Medium,Monthly,29000,Express,Invalid,INVALID,Mail,Germany\r
41,45148,1002,4110,76892,Cashless,2022-04-02,High,Monthly,40000,Complex,In Process,ACTIVE,Internet,Germany\r
42,56003,1001,5003,76894,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,USA\r
43,56005,1001,5005,76891,Cashless,2021-12-02,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,USA\r
44,56008,1001,5008,76892,Cashless,2022-01-05,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,USA\r
45,56013,1001,5013,76892,Cashless,2022-06-05,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,USA\r
46,56018,1001,5018,76893,Reimbursement,2021-10-10,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,USA\r
47,56021,1001,5021,76891,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,USA\r
48,56022,1001,5022,76892,Reimbursement,2021-04-12,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,USA\r
49,56029,1001,5029,76894,Cashless,2022-04-19,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,USA\r
50,56032,1001,5032,76895,Reimbursement,2022-03-10,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,USA\r
51,56035,1001,5035,76894,Cashless,2022-05-05,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,USA\r
52,56038,1001,5038,76895,Reimbursement,2022-01-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,USA\r
53,56041,1001,5041,76892,Cashless,2022-03-29,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,USA\r
54,56044,1001,5044,76891,Cashless,2022-03-19,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,USA\r
55,56047,1001,5047,76891,Cashless,2022-05-10,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,USA\r
56,56050,1001,5050,76892,Reimbursement,2022-09-05,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,USA\r

In [24]:
claim_df["Claim_status_details"]=pd.DataFrame({'Claim_status_details':claim_df['Settlement']+" ,  "+claim_df['Claim_Status']})
claim_df

,Patient_ID,Insurance_ID,Claim_ID,Group_ID,Claim_Type,Issue_Date,Risk_Category,Premium_plan_type,Claim_amount,Handling_type,Settlement,Claim_Status,Submission_method,Country,Claim_status_details
0,45104,1003,4007,76895,Cashless,2021-12-12,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,India\r,"In Process , ACTIVE"
1,45106,1003,4009,76894,Reimbursement,2022-05-09,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
2,45111,1003,4014,76893,Cashless,2022-01-03,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED"
3,45113,1003,4016,76895,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE"
4,45117,1003,4020,76891,Reimbursement,2021-11-04,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED"
5,45121,1003,4024,76892,Cashless,2022-04-30,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
6,45123,1003,4026,76891,Cashless,2022-05-18,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE"
7,45127,1003,4030,76894,Cashless,2022-04-21,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
8,45128,1003,4031,76892,Reimbursement,2022-05-14,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE"
9,45134,1003,4037,76891,Reimbursement,2022-04-07,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED"
10,45135,1003,4038,76892,Reimbursement,2022-04-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
11,45139,1003,4042,76891,Cashless,None,Low,Semi-annualy,45000,Standard,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
12,45142,1003,4045,76895,Cashless,2022-03-31,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID"
13,45145,1003,4048,76894,Cashless,2022-05-08,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED"
14,45147,1003,4050,76893,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,India\r,"In Process , RECOVERED"
15,45148,1002,4051,76891,Cashless,2021-12-31,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE"
16,45150,1002,4053,76891,Cashless,2021-05-22,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
17,45152,1002,4055,76891,Reimbursement,2022-02-02,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
18,45156,1002,4059,76892,Cashless,2021-09-16,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
19,45104,1003,4060,76891,Reimbursement,2022-01-14,Low,Monthly,25000,Complex,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
20,45158,1002,4061,76893,Reimbursement,2022-01-21,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
21,45163,1002,4066,76894,Reimbursement,2021-12-08,Medium,Monthly,28000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
22,45111,1003,4069,76892,Cashless,2022-03-03,Low,Quaterly,40000,Complex,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE"
23,45167,1002,4070,76891,Cashless,2022-03-01,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,Germany\r,"In Process , ACTIVE REVIEW"
24,45169,1002,4072,76891,Cashless,2021-12-11,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,Germany\r,"Invalid , INVALID"
25,45117,1003,4073,76893,Reimbursement,2022-01-23,High,Semi-annualy,30000,Standard,Settled,RECOVERED,Call,India\r,"Settled , RECOVERED"
26,45123,1003,4074,76894,Reimbursement,2022-01-15,Low,Monthly,37000,Accelerated,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
27,45174,1002,4077,76892,Cashless,2022-01-02,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
28,45177,1002,4080,76895,Reimbursement,2022-01-01,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
29,45135,1003,4081,76894,Reimbursement,2022-11-02,High,Semi-annualy,25500,Express,Invalid,ACTIVE,Call,India\r,"Invalid , ACTIVE"
30,45183,1002,4086,76895,Cashless,2022-01-22,High,Semi-annualy,45000,Accelerated,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
31,45186,1002,4089,76895,Reimbursement,2022-01-02,Low,Monthly,37000,Express,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
32,45128,1003,4090,76891,Cashless,2022-07-03,High,Quaterly,27000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID"
33,45193,1002,4096,76894,Cashless,2021-03-11,Medium,Quaterly,34000,Standard,Invalid,INVALID,Call,Germany\r,"Invalid , INVALID"
34,45195,1002,4098,76893,Reimbursement,2022-06-05,High,Semi-annualy,43000,Accelerated,Process,ACTIVE,Call,Germany\r,"Process , ACTIVE"
35,45197,1002,4100,76892,Cashless,2022-12-05,High,Semi-annualy,23000,Standard,Process,ACTIVE,Mail,Germany\r,"Process , ACTIVE"
36,45150,1002,4101,76891,Cashless,2021-09-08,Low,Monthly,36000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
37,45152,1002,4103,76891,Reimbursement,2022-05-04,Low,Quaterly,29100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
38,45156,1002,4105,76892,Cashless,2021-03-09,High,Semi-annualy,47500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
39,45158,1002,4107,76893,Reimbursement,2021-09-29,High,Quaterly,34000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
40,45163,1002,4109,76894,Reimbursement,2022-02-02,Medium,Monthly,29000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
41,45148,1002,4110,76892,Cashless,2022-04-02,High,Monthly,40000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE"
42,56003,1001,5003,76894,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,USA\r,"In Process , RECOVERED"
43,56005,1001,5005,76891,Cashless,2021-12-02,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,USA\r,"In Process , ACTIVE"
44,56008,1001,5008,76892,Cashless,2022-01-05,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED"
45,56013,1001,5013,76892,Cashless,2022-06-05,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"
46,56018,1001,5018,76893,Reimbursement,2021-10-10,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED"
47,56021,1001,5021,76891,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,USA\r,"Settled , ACTIVE"
48,56022,1001,5022,76892,Reimbursement,2021-04-12,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED"
49,56029,1001,5029,76894,Cashless,2022-04-19,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE"
50,56032,1001,5032,76895,Reimbursement,2022-03-10,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE"
51,56035,1001,5035,76894,Cashless,2022-05-05,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,USA\r,"In Process , ACTIVE"
52,56038,1001,5038,76895,Reimbursement,2022-01-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"
53,56041,1001,5041,76892,Cashless,2022-03-29,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,USA\r,"In Process , ACTIVE REVIEW"
54,56044,1001,5044,76891,Cashless,2022-03-19,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,USA\r,"Invalid , INVALID"
55,56047,1001,5047,76891,Cashless,2022-05-10,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED"
56,56050,1001,5050,76892,Reimbursement,2022-09-05,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"

In [25]:
claim_df["Claim_ID"]=pd.DataFrame({'Claim_ID':claim_df['Claim_ID']})
claim_df

,Patient_ID,Insurance_ID,Claim_ID,Group_ID,Claim_Type,Issue_Date,Risk_Category,Premium_plan_type,Claim_amount,Handling_type,Settlement,Claim_Status,Submission_method,Country,Claim_status_details
0,45104,1003,4007,76895,Cashless,2021-12-12,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,India\r,"In Process , ACTIVE"
1,45106,1003,4009,76894,Reimbursement,2022-05-09,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
2,45111,1003,4014,76893,Cashless,2022-01-03,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED"
3,45113,1003,4016,76895,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE"
4,45117,1003,4020,76891,Reimbursement,2021-11-04,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED"
5,45121,1003,4024,76892,Cashless,2022-04-30,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
6,45123,1003,4026,76891,Cashless,2022-05-18,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE"
7,45127,1003,4030,76894,Cashless,2022-04-21,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
8,45128,1003,4031,76892,Reimbursement,2022-05-14,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE"
9,45134,1003,4037,76891,Reimbursement,2022-04-07,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED"
10,45135,1003,4038,76892,Reimbursement,2022-04-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,India\r,"Invalid , INVALID"
11,45139,1003,4042,76891,Cashless,None,Low,Semi-annualy,45000,Standard,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
12,45142,1003,4045,76895,Cashless,2022-03-31,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID"
13,45145,1003,4048,76894,Cashless,2022-05-08,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED"
14,45147,1003,4050,76893,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,India\r,"In Process , RECOVERED"
15,45148,1002,4051,76891,Cashless,2021-12-31,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE"
16,45150,1002,4053,76891,Cashless,2021-05-22,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
17,45152,1002,4055,76891,Reimbursement,2022-02-02,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
18,45156,1002,4059,76892,Cashless,2021-09-16,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
19,45104,1003,4060,76891,Reimbursement,2022-01-14,Low,Monthly,25000,Complex,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
20,45158,1002,4061,76893,Reimbursement,2022-01-21,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
21,45163,1002,4066,76894,Reimbursement,2021-12-08,Medium,Monthly,28000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
22,45111,1003,4069,76892,Cashless,2022-03-03,Low,Quaterly,40000,Complex,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE"
23,45167,1002,4070,76891,Cashless,2022-03-01,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,Germany\r,"In Process , ACTIVE REVIEW"
24,45169,1002,4072,76891,Cashless,2021-12-11,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,Germany\r,"Invalid , INVALID"
25,45117,1003,4073,76893,Reimbursement,2022-01-23,High,Semi-annualy,30000,Standard,Settled,RECOVERED,Call,India\r,"Settled , RECOVERED"
26,45123,1003,4074,76894,Reimbursement,2022-01-15,Low,Monthly,37000,Accelerated,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE"
27,45174,1002,4077,76892,Cashless,2022-01-02,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
28,45177,1002,4080,76895,Reimbursement,2022-01-01,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
29,45135,1003,4081,76894,Reimbursement,2022-11-02,High,Semi-annualy,25500,Express,Invalid,ACTIVE,Call,India\r,"Invalid , ACTIVE"
30,45183,1002,4086,76895,Cashless,2022-01-22,High,Semi-annualy,45000,Accelerated,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
31,45186,1002,4089,76895,Reimbursement,2022-01-02,Low,Monthly,37000,Express,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
32,45128,1003,4090,76891,Cashless,2022-07-03,High,Quaterly,27000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID"
33,45193,1002,4096,76894,Cashless,2021-03-11,Medium,Quaterly,34000,Standard,Invalid,INVALID,Call,Germany\r,"Invalid , INVALID"
34,45195,1002,4098,76893,Reimbursement,2022-06-05,High,Semi-annualy,43000,Accelerated,Process,ACTIVE,Call,Germany\r,"Process , ACTIVE"
35,45197,1002,4100,76892,Cashless,2022-12-05,High,Semi-annualy,23000,Standard,Process,ACTIVE,Mail,Germany\r,"Process , ACTIVE"
36,45150,1002,4101,76891,Cashless,2021-09-08,Low,Monthly,36000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED"
37,45152,1002,4103,76891,Reimbursement,2022-05-04,Low,Quaterly,29100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED"
38,45156,1002,4105,76892,Cashless,2021-03-09,High,Semi-annualy,47500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
39,45158,1002,4107,76893,Reimbursement,2021-09-29,High,Quaterly,34000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE"
40,45163,1002,4109,76894,Reimbursement,2022-02-02,Medium,Monthly,29000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID"
41,45148,1002,4110,76892,Cashless,2022-04-02,High,Monthly,40000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE"
42,56003,1001,5003,76894,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,USA\r,"In Process , RECOVERED"
43,56005,1001,5005,76891,Cashless,2021-12-02,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,USA\r,"In Process , ACTIVE"
44,56008,1001,5008,76892,Cashless,2022-01-05,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED"
45,56013,1001,5013,76892,Cashless,2022-06-05,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"
46,56018,1001,5018,76893,Reimbursement,2021-10-10,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED"
47,56021,1001,5021,76891,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,USA\r,"Settled , ACTIVE"
48,56022,1001,5022,76892,Reimbursement,2021-04-12,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED"
49,56029,1001,5029,76894,Cashless,2022-04-19,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE"
50,56032,1001,5032,76895,Reimbursement,2022-03-10,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE"
51,56035,1001,5035,76894,Cashless,2022-05-05,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,USA\r,"In Process , ACTIVE"
52,56038,1001,5038,76895,Reimbursement,2022-01-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"
53,56041,1001,5041,76892,Cashless,2022-03-29,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,USA\r,"In Process , ACTIVE REVIEW"
54,56044,1001,5044,76891,Cashless,2022-03-19,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,USA\r,"Invalid , INVALID"
55,56047,1001,5047,76891,Cashless,2022-05-10,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED"
56,56050,1001,5050,76892,Reimbursement,2022-09-05,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID"

In [26]:
claim_df["Claim_Issue_Date"]=pd.DataFrame({'Claim_Issue_Date':claim_df['Issue_Date']})
claim_df

,Patient_ID,Insurance_ID,Claim_ID,Group_ID,Claim_Type,Issue_Date,Risk_Category,Premium_plan_type,Claim_amount,Handling_type,Settlement,Claim_Status,Submission_method,Country,Claim_status_details,Claim_Issue_Date
0,45104,1003,4007,76895,Cashless,2021-12-12,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,India\r,"In Process , ACTIVE",2021-12-12
1,45106,1003,4009,76894,Reimbursement,2022-05-09,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,India\r,"Invalid , INVALID",2022-05-09
2,45111,1003,4014,76893,Cashless,2022-01-03,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED",2022-01-03
3,45113,1003,4016,76895,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE",2021-11-12
4,45117,1003,4020,76891,Reimbursement,2021-11-04,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED",2021-11-04
5,45121,1003,4024,76892,Cashless,2022-04-30,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE",2022-04-30
6,45123,1003,4026,76891,Cashless,2022-05-18,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE",2022-05-18
7,45127,1003,4030,76894,Cashless,2022-04-21,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,India\r,"Invalid , INVALID",2022-04-21
8,45128,1003,4031,76892,Reimbursement,2022-05-14,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,India\r,"In Process , ACTIVE",2022-05-14
9,45134,1003,4037,76891,Reimbursement,2022-04-07,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,India\r,"Settled , RECOVERED",2022-04-07
10,45135,1003,4038,76892,Reimbursement,2022-04-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,India\r,"Invalid , INVALID",2022-04-01
11,45139,1003,4042,76891,Cashless,None,Low,Semi-annualy,45000,Standard,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE",None
12,45142,1003,4045,76895,Cashless,2022-03-31,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID",2022-03-31
13,45145,1003,4048,76894,Cashless,2022-05-08,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,India\r,"Settled , RECOVERED",2022-05-08
14,45147,1003,4050,76893,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,India\r,"In Process , RECOVERED",2022-04-23
15,45148,1002,4051,76891,Cashless,2021-12-31,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE",2021-12-31
16,45150,1002,4053,76891,Cashless,2021-05-22,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED",2021-05-22
17,45152,1002,4055,76891,Reimbursement,2022-02-02,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED",2022-02-02
18,45156,1002,4059,76892,Cashless,2021-09-16,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE",2021-09-16
19,45104,1003,4060,76891,Reimbursement,2022-01-14,Low,Monthly,25000,Complex,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE",2022-01-14
20,45158,1002,4061,76893,Reimbursement,2022-01-21,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE",2022-01-21
21,45163,1002,4066,76894,Reimbursement,2021-12-08,Medium,Monthly,28000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID",2021-12-08
22,45111,1003,4069,76892,Cashless,2022-03-03,Low,Quaterly,40000,Complex,Settled,ACTIVE,Internet,India\r,"Settled , ACTIVE",2022-03-03
23,45167,1002,4070,76891,Cashless,2022-03-01,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,Germany\r,"In Process , ACTIVE REVIEW",2022-03-01
24,45169,1002,4072,76891,Cashless,2021-12-11,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,Germany\r,"Invalid , INVALID",2021-12-11
25,45117,1003,4073,76893,Reimbursement,2022-01-23,High,Semi-annualy,30000,Standard,Settled,RECOVERED,Call,India\r,"Settled , RECOVERED",2022-01-23
26,45123,1003,4074,76894,Reimbursement,2022-01-15,Low,Monthly,37000,Accelerated,In Process,ACTIVE,Mail,India\r,"In Process , ACTIVE",2022-01-15
27,45174,1002,4077,76892,Cashless,2022-01-02,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED",2022-01-02
28,45177,1002,4080,76895,Reimbursement,2022-01-01,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID",2022-01-01
29,45135,1003,4081,76894,Reimbursement,2022-11-02,High,Semi-annualy,25500,Express,Invalid,ACTIVE,Call,India\r,"Invalid , ACTIVE",2022-11-02
30,45183,1002,4086,76895,Cashless,2022-01-22,High,Semi-annualy,45000,Accelerated,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED",2022-01-22
31,45186,1002,4089,76895,Reimbursement,2022-01-02,Low,Monthly,37000,Express,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED",2022-01-02
32,45128,1003,4090,76891,Cashless,2022-07-03,High,Quaterly,27000,Express,Invalid,INVALID,Internet,India\r,"Invalid , INVALID",2022-07-03
33,45193,1002,4096,76894,Cashless,2021-03-11,Medium,Quaterly,34000,Standard,Invalid,INVALID,Call,Germany\r,"Invalid , INVALID",2021-03-11
34,45195,1002,4098,76893,Reimbursement,2022-06-05,High,Semi-annualy,43000,Accelerated,Process,ACTIVE,Call,Germany\r,"Process , ACTIVE",2022-06-05
35,45197,1002,4100,76892,Cashless,2022-12-05,High,Semi-annualy,23000,Standard,Process,ACTIVE,Mail,Germany\r,"Process , ACTIVE",2022-12-05
36,45150,1002,4101,76891,Cashless,2021-09-08,Low,Monthly,36000,Standard,Settled,RECOVERED,Internet,Germany\r,"Settled , RECOVERED",2021-09-08
37,45152,1002,4103,76891,Reimbursement,2022-05-04,Low,Quaterly,29100,Standard,Settled,RECOVERED,Mail,Germany\r,"Settled , RECOVERED",2022-05-04
38,45156,1002,4105,76892,Cashless,2021-03-09,High,Semi-annualy,47500,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE",2021-03-09
39,45158,1002,4107,76893,Reimbursement,2021-09-29,High,Quaterly,34000,Accelerated,In Process,ACTIVE,Call,Germany\r,"In Process , ACTIVE",2021-09-29
40,45163,1002,4109,76894,Reimbursement,2022-02-02,Medium,Monthly,29000,Express,Invalid,INVALID,Mail,Germany\r,"Invalid , INVALID",2022-02-02
41,45148,1002,4110,76892,Cashless,2022-04-02,High,Monthly,40000,Complex,In Process,ACTIVE,Internet,Germany\r,"In Process , ACTIVE",2022-04-02
42,56003,1001,5003,76894,Reimbursement,2022-04-23,Low,Quaterly,22500,Standard,In Process,RECOVERED,Mail,USA\r,"In Process , RECOVERED",2022-04-23
43,56005,1001,5005,76891,Cashless,2021-12-02,High,Monthly,20000,Complex,In Process,ACTIVE,Internet,USA\r,"In Process , ACTIVE",2021-12-02
44,56008,1001,5008,76892,Cashless,2022-01-05,Low,Monthly,35000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED",2022-01-05
45,56013,1001,5013,76892,Cashless,2022-06-05,High,Semi-annualy,41000,Standard,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID",2022-06-05
46,56018,1001,5018,76893,Reimbursement,2021-10-10,Low,Semi-annualy,59000,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED",2021-10-10
47,56021,1001,5021,76891,Reimbursement,2021-11-12,High,Monthly,20500,Standard,Settled,ACTIVE,Internet,USA\r,"Settled , ACTIVE",2021-11-12
48,56022,1001,5022,76892,Reimbursement,2021-04-12,Low,Quaterly,24100,Standard,Settled,RECOVERED,Mail,USA\r,"Settled , RECOVERED",2021-04-12
49,56029,1001,5029,76894,Cashless,2022-04-19,High,Semi-annualy,49500,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE",2022-04-19
50,56032,1001,5032,76895,Reimbursement,2022-03-10,High,Quaterly,32000,Accelerated,In Process,ACTIVE,Call,USA\r,"In Process , ACTIVE",2022-03-10
51,56035,1001,5035,76894,Cashless,2022-05-05,Low,Quaterly,19999,Express,In Process,ACTIVE,Mail,USA\r,"In Process , ACTIVE",2022-05-05
52,56038,1001,5038,76895,Reimbursement,2022-01-01,Medium,Monthly,20000,Express,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID",2022-01-01
53,56041,1001,5041,76892,Cashless,2022-03-29,Low,Semi-annualy,45000,Standard,In Process,ACTIVE REVIEW,Mail,USA\r,"In Process , ACTIVE REVIEW",2022-03-29
54,56044,1001,5044,76891,Cashless,2022-03-19,Medium,Quaterly,50000,Express,Invalid,INVALID,Internet,USA\r,"Invalid , INVALID",2022-03-19
55,56047,1001,5047,76891,Cashless,2022-05-10,Low,Monthly,37000,Standard,Settled,RECOVERED,Internet,USA\r,"Settled , RECOVERED",2022-05-10
56,56050,1001,5050,76892,Reimbursement,2022-09-05,High,Semi-annualy,29000,Accelerated,Invalid,INVALID,Mail,USA\r,"Invalid , INVALID",2022-09-05

In [27]:
claim_df.to_csv('Claims_Transformed.csv')

In [28]:
insurer_df=pd.read_sql_query("SELECT * FROM Insurer",connection)
insurer_df

,Insurance_ID,Company_name,Insurance_name,Start_date,End_date,Effective_date,Insurance_base_amount,Insurance_status,Term,Topup_Amount,Insurnce_Cover
0,1001,Aegon Life Insurance Co. Ltd.,Individual Health Insurance,2020-01-01,2036-01-01,2020-01-15,200000,Active,15,200000,4
1,1002,Edelweiss Life Insurance Co.,Family Health Insurance,2020-01-03,2039-01-03,2020-03-15,300000,Active,18,300000,3
2,1003,Birla Sun Life Insurance Co.,Critical illness Insurance,2020-02-05,2041-02-05,2020-05-17,400000,Active,20,150000,3

In [29]:
insurer_df['Handling_risk']=insurer_df['Company_name']+insurer_df['Insurance_name']
insurer_df=insurer_df.drop('Company_name',axis=1)
insurer_df=insurer_df.drop('Insurance_name',axis=1)
insurer_df

,Insurance_ID,Start_date,End_date,Effective_date,Insurance_base_amount,Insurance_status,Term,Topup_Amount,Insurnce_Cover,Handling_risk
0,1001,2020-01-01,2036-01-01,2020-01-15,200000,Active,15,200000,4,Aegon Life Insurance Co. Ltd.Individual Health...
1,1002,2020-01-03,2039-01-03,2020-03-15,300000,Active,18,300000,3,Edelweiss Life Insurance Co.Family Health Ins...
2,1003,2020-02-05,2041-02-05,2020-05-17,400000,Active,20,150000,3,Birla Sun Life Insurance Co.Critical illness I...

In [31]:
insurer_df["Insurer_Term"]=pd.DataFrame({"Insurer_Term":pd.to_datetime(insurer_df["End_date"]).dt.year-pd.to_datetime(insurer_df["Start_date"]).dt.year})
insurer_df

,Insurance_ID,Start_date,End_date,Effective_date,Insurance_base_amount,Insurance_status,Term,Topup_Amount,Insurnce_Cover,Handling_risk,Insurer_Term
0,1001,2020-01-01,2036-01-01,2020-01-15,200000,Active,15,200000,4,Aegon Life Insurance Co. Ltd.Individual Health...,16
1,1002,2020-01-03,2039-01-03,2020-03-15,300000,Active,18,300000,3,Edelweiss Life Insurance Co.Family Health Ins...,19
2,1003,2020-02-05,2041-02-05,2020-05-17,400000,Active,20,150000,3,Birla Sun Life Insurance Co.Critical illness I...,21

In [32]:
insurer_df['Insurance_amount']=pd.DataFrame(insurer_df['Insurance_base_amount']) + pd.DataFrame(insurer_df['Topup_Amount'])
insurer_df=insurer_df.drop('Insurance_base_amount',axis=1)
insurer_df=insurer_df.drop('Topup_Amount',axis=1)
insurer_df

ValueError: Expected a 1D array, got an array with shape (3, 2)

In [33]:
groups_df=pd.read_sql_query("SELECT * FROM Groups",connection)
groups_df

   Group_ID          Group_name Effective_date  Term
0     76891            Accident     2021-12-12    12
1     76892  Industrial Disease     2022-03-01    36
2     76893    Critical Illness     2021-04-11    30
3     76894           Surgeries     2022-05-18    24
4     76895     Genetic Illness     2022-05-14    26

In [34]:
subgroup_df=pd.read_sql_query("SELECT * FROM Subgroup",connection)
subgroup_df

    Subgroup_ID  Group_ID              Subgroup_name Effective_date  Term
0         56431     76891      Road-traffic accident     2021-12-04    32
1         56432     76891  Fractures caused by falls     2021-09-22    23
2         56433     76891                   Gun shot     2022-05-05    15
3         56434     76891                 Burn Cases     2022-04-27    26
4         56435     76891              Current Shock     2022-01-01    10
5         56441     76892        Industrial deafness     2022-01-23    32
6         56442     76892       Respiratory Problems     2021-09-22    23
7         56443     76892         Breathing Problems     2022-05-05    15
8         56444     76892                 Dermatitis     2022-04-27    26
9         56445     76892   Musculoskeletal disorder     2022-01-01    10
10        56451     76893                     Cancer     2022-01-23    30
11        56452     76893     Major organ transplant     2021-09-22    27
12        56453     76893             Kidney failure     2022-05-05    15
13        56454     76893                  Paralysis     2022-04-27    26
14        56455     76893         First heart attack     2022-01-01    10
15        56461     76894       Neurological Surgery     2022-01-23    30
16        56462     76894                   Oncology     2021-09-22    27
17        56463     76894               Chemotherapy     2022-04-04    20
18        56464     76894                 Hystoscopy     2022-04-27    15
19        56465     76894               Nasal Concha     2022-01-01    10
20        56471     76895              Down syndrome     2022-01-23    30
21        56472     76895          FragileX syndrome     2021-09-22    27
22        56473     76895            Turner syndrome     2022-04-04    20
23        56474     76895                 Trisomy 18     2022-04-27    28
24        56475     76895                 Trisomy 13     2022-01-01    14